* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header .title, .intro {
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
}

.title {
    font-size: 50px;
    font-weight: 900;
    color: #e95f77;
    margin-top: 50px;
    margin-bottom: 30px;
}

.intro {
    margin-bottom: 50px;
}

.container {
    margin: 0 auto;
}

.clearfix {
    content:"";
    display: table;
    clear: both;
}

.card {
    background-color: black;
    float: left;
    margin-bottom: 40px;
    margin-right: 30px;
    width: calc(calc(100% - 60px)/3);
}

.card:nth-child(3n) {
    margin-right: 0;
}
.card_image {
    width: 90px;
    height: 90px;
    float: left;
    margin-right: 10px;
}

.card_title {
    font-size: 20px;
    padding-top: 10px;
    color: white;
    font-weight: 900;
}

.card_profession, .card_email {
    font-size: 15px;
    padding-top: 10px;
    color: white;
}

.card_email {
    padding-top: 10px;
    color: blueviolet;
}